---

---

<div class="w-[80%] flex justify-center items-center">
    <div class="w-[100%] flex flex-wrap gap-[70px] justify-around items-center ">
        <img
            class="bg-white p-[15px] shadow-black shadow-2xl"
            src="https://i0.wp.com/terraandinahotel.com/wp-content/uploads/2025/12/pasadizo2.jpg?fit=333%2C333&ssl=1"
            alt=""
        />

        <img
            class="bg-white p-[15px] shadow-black shadow-2xl"
            src="https://i0.wp.com/terraandinahotel.com/wp-content/uploads/2025/12/Lobby-5.jpg?fit=333%2C333&ssl=1"
            alt=""
        />
    </div>
</div>
