---
import "/src/assets/styles/global.css";
import HotelDetail from "../Hoteles/HotelDetail.astro";
import HotelImg from "../Hoteles/Hotel-img.astro";
---

<section class=" stay__container--feature">
    <h1 class="title title--feature">GRAN LUGAR <span class="title title--feature stay__span-title ">PARA QUEDARSE</span>Y DISFRUTAR</h1>
    <div class="stay__container-parrafo">
        <p class="stay__parrafo">
            El Terra Andina Mansión Colonial es una Casona Colonial en el centro
            histórico de Cusco, que fue la capital del Imperio Inca, Cusco,
            Perú. Es un Hotel de Primera Clase ubicado a media cuadra de la
            encantadora Plaza San Pedro, el mercado de San Pedro diseñado por
            Gustavo Eiffel, la Iglesia de San Pedro y a sólo cuatro cuadras de
            la Plaza Principal.
        </p>
    </div>
    <HotelDetail />
    <HotelImg />
</section>

<style>
    .title--feature {
        font-size: 32px;
    }

    .stay__span-title{
        border-bottom: 1px solid rgb(221, 164, 9);
    }
    .stay__container--feature {
        display: flex;
        margin-top: 80px;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        align-items: center;
    }
    .stay__container-parrafo {
        width: 90%;
    }

    .stay__parrafo {
        font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
        color: #333333;
        text-align: center;
        font-weight: 400;
        font-size: 18px;
        margin-top: 20px;
    }
</style>
