---

---

<section class="container_detailService">
    <div class="flex flex-col  justify-center items-center">
    <h1 class="title text-center text-[1.1rem] text-gray-600 mb-4">SERVICIOS ADICIONALES</h1>
<span class="w-[100px] bg-[#F6A818] relative top-[-8px]  h-[1px]"></span>
    </div>
    

    <div class="flex flex-wrap gap-[40px] justify-center items-center">
        <ul class="flex flex-col justify-start items-start">
            <li class="flex gap-[10px] items-center justify-center text-gray-600"><i class="text-[#9E2222]  text-[18px] bi bi-check-lg"></i>Espejo de aumento para maquillarse o afeitarse</li>
            <li class="flex gap-[10px] items-center justify-center text-gray-600"><i class="text-[#9E2222]  text-[18px] bi bi-check-lg"></i>Baños remodelados con porcelanato italiano de piso a techo</li>
            <li class="flex gap-[10px] items-center justify-center text-gray-600"><i class="text-[#9E2222]  text-[18px] bi bi-check-lg"></i>Batas</li>
            <li class="flex gap-[10px] items-center justify-center text-gray-600"><i class="text-[#9E2222]  text-[18px] bi bi-check-lg"></i>Pantuflas</li>
            <li class="flex gap-[10px] items-center justify-center text-gray-600"><i class="text-[#9E2222]  text-[18px] bi bi-check-lg"></i>Toallas de algodón</li>
            <li class="flex gap-[10px] items-center justify-center text-gray-600"><i class="text-[#9E2222]  text-[18px] bi bi-check-lg"></i>Selección de Amenities de baño mejorada</li>
            <li class="flex gap-[10px] items-center justify-center text-gray-600"><i class="text-[#9E2222]  text-[18px] bi bi-check-lg"></i>Teléfono en el baño</li>
            <li class="flex gap-[10px] items-center justify-center text-gray-600"><i class="text-[#9E2222]  text-[18px] bi bi-check-lg"></i>Ubicación preferencial</li>
        </ul>

        <ul class="flex flex-col justify-start items-start">
            <li class="flex gap-[10px] items-center justify-center text-gray-600"><i class="text-[#9E2222]  text-[18px] bi bi-check-lg"></i>Habitaciones conectadas (con solicitud previa)</li>
            <li class="flex gap-[10px] items-center justify-center text-gray-600"><i class="text-[#9E2222]  text-[18px] bi bi-check-lg"></i>LED de 50" Smart TV</li>
            <li class="flex gap-[10px] items-center justify-center text-gray-600"><i class="text-[#9E2222]  text-[18px] bi bi-check-lg"></i>Traslados aeropuerto-hotel o viceversa de cortesía</li>
            <li class="flex gap-[10px] items-center justify-center text-gray-600"><i class="text-[#9E2222]  text-[18px] bi bi-check-lg"></i>Minibar</li>
            <li class="flex gap-[10px] items-center justify-center text-gray-600"><i class="text-[#9E2222]  text-[18px] bi bi-check-lg"></i>Colchas de pluma de ganso blanco "Pacific Coast"</li>
            <li class="flex gap-[10px] items-center justify-center text-gray-600"><i class="text-[#9E2222]  text-[18px] bi bi-check-lg"></i>Botella de agua de bienvenida</li>
            <li class="flex gap-[10px] items-center justify-center text-gray-600"><i class="text-[#9E2222]  text-[18px] bi bi-check-lg"></i>Habitaciones más amplias</li>
            <li class="flex gap-[10px] items-center justify-center text-gray-600"><i class="text-[#9E2222]  text-[18px] bi bi-check-lg"></i>Kit de infusiones</li>
        </ul>
    </div>

</section>

<style>
    .container_detailService{
        margin-top: 100px;
        margin-bottom: 100px;
        font-family: "Poppins", sans-serif;
    }
</style>