---
import { servicesData } from "../../content/service";

const half = Math.ceil(servicesData.items.length / 2);
const col1 = servicesData.items.slice(0, half);
const col2 = servicesData.items.slice(half);
---


<section class="container_detailService">
  <div class="flex flex-col justify-center items-center">
    <h1 class="title text-center text-[1.1rem] text-gray-600 mb-4">
      {servicesData.title}
    </h1>
    <span class="w-[100px] bg-[#F6A818] relative top-[-8px] h-[1px]"></span>
  </div>

  <div class="flex flex-wrap gap-[40px] justify-center items-center">
    <ul class="flex flex-col justify-start items-start">
      {col1.map((item) => (
        <li class="flex gap-[10px] items-center justify-center text-gray-600">
          <i class="text-[#9E2222] text-[18px] bi bi-check-lg"></i>
          {item}
        </li>
      ))}
    </ul>
    <ul class="flex flex-col justify-start items-start">
      {col2.map((item) => (
        <li class="flex gap-[10px] items-center justify-center text-gray-600">
          <i class="text-[#9E2222] text-[18px] bi bi-check-lg"></i>
          {item}
        </li>
      ))}
    </ul>
  </div>
</section>
