---
import AdditionalDetails from "./AdditionalDetails.astro";
import SlideRoom from "./slideRooms/slideRoom.astro";


---

<section class="text-center">
    <div class="position__title flex flex-col  justify-center items-center">
        <h1 class="title text-gray-700 text-[1.5rem] mb-4">
            CARACTERISTICAS DE LAS HABITACIONES
        </h1>
        <span class="w-[250px] bg-[#F6A818] relative top-[-8px]  h-[1px]"></span>
    </div>
    <h2 class="text-gray-700 position__title title text-[1.5rem]">HABITACIÓN CLÁSICA</h2>

    <SlideRoom/>
</section>
<style>
    .position__title{
        margin-top: 40px;
    }
</style>
