---
import BaseLayout from "../../layouts/BaseLayoutEn.astro";
import ContactoForm from "../../components/en/Contacto/contacto.astro";

const title = "Contact Us";
const description = "Contact Terra Andina Hotel in Cusco: 184 Union Street, near San Pedro Square. Reservations: +51 987 945 817 or sales@terraandinahotel.com.";
---

<BaseLayout title={title} description={description}>
    <main class="home">
        <ContactoForm />
    </main>
</BaseLayout>
