---
import BaseLayout from "../../layouts/BaseLayoutEn.astro";
import GaleriaSecction from "../../components/en/Galeria/galeria.astro";

const title = "Gallery";
const description = "Explore the beauty of our colonial mansion in Cusco. Discover through photos our luxury rooms, historical courtyard, and every corner of Terra Andina.";
---

<BaseLayout title={title} description={description}>
    <main class="home">
        <GaleriaSecction />


    </main>
</BaseLayout>