---
import BaseLayout from "../../layouts/BaseLayoutEn.astro";
import Fondos from "../../components/fondos.astro";
import HotelStay from "../../components/en/Hoteles/HotelStay.astro";

import fondoImagen from "../../assets/backgrounds/fachada.webp";

const title = "Hotel";
const description = "Located in a colonial mansion near San Pedro Square, Terra Andina offers 51 luxury rooms and service of excellence in Cusco.";
---

<BaseLayout title={title} description={description}>
    <Fondos imgFondo={`url(${fondoImagen.src})`} />
    <main class="home">
        <HotelStay />
    </main>

</BaseLayout>
