---
import BaseLayout from "../../layouts/BaseLayoutEn.astro"
import Fondos from "../../components/fondos.astro"

import RestauranteInicio from "../../components/en/Restaurantes/RestaurantInicio.astro"
import GastronomicExperience from "../../components/en/Restaurantes/GastronomicExperience.astro"
import fondoImagen from "../../assets/backgrounds/interra-intro.webp"


const title = "Restaurant";
const description = "Enjoy a unique gastronomic experience in the heart of Cusco. Savor the best of Peruvian and international cuisine in an unforgettable colonial setting.";
---

<BaseLayout title={title} description={description}>

    <Fondos imgFondo={`url(${fondoImagen.src})`} />
    <main>

        <RestauranteInicio />
        <GastronomicExperience />
    </main>

</BaseLayout>

