---
import ExperienceDetail from "./ExperienceDetail.astro"
---

<section class="flex flex-col justify-center items-center text-center my-[80px] mx-auto">
    <h2 class="title title--feature">We focus in making your gastronomic experience extraordinary!</h2>
    <ExperienceDetail idioma="En"/>
</section>

<style>
  
    .title--feature{
        font-size: 26px;
        margin-bottom: 70px;
        font-weight: 300;
        color:#CEAD2F;
    }


</style>