---

---

<section>
    <h1 class="text-center text-4xl font-bold text-gray-800 pt-[40px]">
        Galeria
    </h1>

    <div class=" w-full flex jutify-center items-center pt-[20px]">
        <div class="w-full flex items-center justify-center gap-[30px]">
            <a href="#" class="bg-white border-[2px] hover:bg-[#A71E1F] hover:text-white border-[#A71E1F] rounded-[5px] p-[10px]">1 Hoteles</a>
            <a href="#" class="bg-white border-[2px] hover:bg-[#A71E1F] hover:text-white border-[#A71E1F] rounded-[5px] p-[10px]">1 Comida</a>
            <a href="#" class="bg-white border-[2px] hover:bg-[#A71E1F] hover:text-white border-[#A71E1F] rounded-[5px] p-[10px]">1 Masajes</a>
            <a href="#" class="bg-white border-[2px] hover:bg-[#A71E1F] hover:text-white border-[#A71E1F] rounded-[5px] p-[10px]">1 Hoteles</a>
        </div>
    </div>
</section>

<script type="module"></script>
