---
import BaseLayout from "../layouts/BaseLayout.astro";
import ContactoForm from "../components/Contacto/contacto.astro";
---

<BaseLayout title="Contacto">
    <main class="home">
        <ContactoForm />
    </main>
</BaseLayout>
