---
import BaseLayout from "../layouts/BaseLayout.astro";
import GaleriaSecction from "../components/Galeria/galeria.astro";
---

<BaseLayout title="Galeria">
    <main class="home">
        <GaleriaSecction />


    </main>
</BaseLayout>