---
import Links from "../utils/links.astro"
import Nav from "../layout/nav.astro"
import Footer from "../components/footer.astro"
---

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <Links/>
    <title>Hoteles</title>
</head>
<body>
    <Nav />
    
    <h1>GRAN LUGAR PARA QUEDARSE Y DISFRUTAR </h1>

    <p>El Terra Andina Mansión Colonial es una Casona Colonial en el centro histórico de Cusco, que fue la capital del Imperio Inca, Cusco, Perú. Es un Hotel de Primera Clase ubicado a media cuadra de la encantadora Plaza San Pedro, el mercado de San Pedro diseñado por Gustavo Eiffel, la Iglesia de San Pedro y a sólo cuatro cuadras de la Plaza Principal.</p>

    <Footer/>
</body>
</html>