---
import BaseLayout from "../layouts/BaseLayout.astro";
import Rooms from "../components/Rooms.astro";

import Fondos from "../components/fondos.astro";
import HistoricCenter from "../components/HistoricCenter.astro";
import AndeandLand from "../components/AndeanLand.astro";
import "../assets/styles/global.css";


import fondoImagen from "../assets/fondos/baner-terra.webp"; 
---

<BaseLayout title="Inicio - Terra Andina Colonial Mansion">
    <Fondos imgFondo={`url(${fondoImagen.src})`} />
    
    <main class="home">
        <HistoricCenter />
        <AndeandLand />
        <Rooms />
    </main>
</BaseLayout>
