---
import BaseLayout from "../layouts/BaseLayout.astro";
import Rooms from "../components/Inicio/Rooms.astro";

import Fondos from "../components/fondos.astro";
import HistoricCenter from "../components/Inicio/HistoricCenter.astro";
import AndeandLand from "../components/Inicio/AndeanLand.astro";
import GuaranteedStay from "../components/Inicio/GuaranteedStay.astro";

import fondoImagen from "../assets/backgrounds/baner-terra.webp";
import FormReserva from "../utils/formReserva.astro";
---

<BaseLayout title="Inicio">
    <Fondos imgFondo={`url(${fondoImagen.src})`} />

    <main class="home">

        <FormReserva/>

        <HistoricCenter />
        <AndeandLand />
        <Rooms />
        <GuaranteedStay />
    </main>
</BaseLayout>
