---
import BaseLayout from "../layouts/BaseLayout.astro"
import Fondos from "../components/fondos.astro"


import fondoImagen from "../assets/fondos/interra-intro.webp"
---

<BaseLayout title="Restaurante - Terra Andina Colonial Mansion">

    <Fondos imgFondo={`url(${fondoImagen.src})`} />
    <main>

    </main>

</BaseLayout>

