---

---

<div class="card-container">
    <div class="card">
        <div>
            <img
                class="imagen-card"
                src="https://i0.wp.com/terraandinahotel.com/wp-content/uploads/2025/12/clasica-matrimonial.jpg?fit=333%2C333&ssl=1"
                alt=""
            />
        </div>
        <div>
            <h2 class="title">CLASICA MATRIMONIAL</h2>

            <div>
                <ul class="items-nav items-lista">
                    <li class="items">
                        <i class="icon-card bi bi-people-fill"></i>2 Personas
                    </li>
                    <li class="items">
                        <i class="icon-card bi bi-textarea-resize"></i> 16 m2
                    </li>
                    <li class="items">
                        <i class="icon-card bi bi-truck-flatbed"></i> 1 cama queen
                        size
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="card">
        <div>
            <img
                class="imagen-card"
                src="https://i0.wp.com/terraandinahotel.com/wp-content/uploads/2025/12/clasica-matrimonial.jpg?fit=333%2C333&ssl=1"
                alt=""
            />
        </div>
        <div>
            <h2 class="title">CLASICA MATRIMONIAL</h2>

            <div>
                <ul class="items-nav items-lista">
                    <li class="items">
                        <i class="icon-card bi bi-people-fill"></i>2 Personas
                    </li>
                    <li class="items">
                        <i class="icon-card bi bi-textarea-resize"></i> 16 m2
                    </li>
                    <li class="items">
                        <i class="icon-card bi bi-truck-flatbed"></i> 1 cama queen
                        size
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="card">
        <div>
            <img
                class="imagen-card"
                src="https://i0.wp.com/terraandinahotel.com/wp-content/uploads/2025/12/clasica-matrimonial.jpg?fit=333%2C333&ssl=1"
                alt=""
            />
        </div>
        <div>
            <h2 class="title">CLASICA MATRIMONIAL</h2>

            <div>
                <ul class="items-nav items-lista">
                    <li class="items">
                        <i class="icon-card bi bi-people-fill"></i>2 Personas
                    </li>
                    <li class="items">
                        <i class="icon-card bi bi-textarea-resize"></i> 16 m2
                    </li>
                    <li class="items">
                        <i class="icon-card bi bi-truck-flatbed"></i> 1 cama queen
                        size
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="card">
        <div>
            <img
                class="imagen-card"
                src="https://i0.wp.com/terraandinahotel.com/wp-content/uploads/2025/12/clasica-matrimonial.jpg?fit=333%2C333&ssl=1"
                alt=""
            />
        </div>
        <div>
            <h2 class="title">CLASICA MATRIMONIAL</h2>

            <div>
                <ul class="items-nav items-lista">
                    <li class="items">
                        <i class="icon-card bi bi-people-fill"></i>2 Personas
                    </li>
                    <li class="items">
                        <i class="icon-card bi bi-textarea-resize"></i> 16 m2
                    </li>
                    <li class="items">
                        <i class="icon-card bi bi-truck-flatbed"></i> 1 cama queen
                        size
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="card">
        <div>
            <img
                class="imagen-card"
                src="https://i0.wp.com/terraandinahotel.com/wp-content/uploads/2025/12/clasica-matrimonial.jpg?fit=333%2C333&ssl=1"
                alt=""
            />
        </div>
        <div>
            <h2 class="title">CLASICA MATRIMONIAL</h2>

            <div>
                <ul class="items-nav items-lista">
                    <li class="items">
                        <i class="icon-card bi bi-people-fill"></i>2 Personas
                    </li>
                    <li class="items">
                        <i class="icon-card bi bi-textarea-resize"></i> 16 m2
                    </li>
                    <li class="items">
                        <i class="icon-card bi bi-truck-flatbed"></i> 1 cama queen
                        size
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<style>
    .card {
        border: 1px solid rgb(197, 197, 197);
        width: max-content;
        padding: 10px;
        width: 380px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .card-container {
        justify-content: center;
        display: flex;
        gap:10px;
        flex-wrap: wrap;
    }

    .imagen-card {
        width: max-content;
    }
    .title {
        font-family: var(--font-family-secondary);
        font-size: 1.4rem;
        text-align: start;
        color: #4f5152;
        font-weight: 300;
        margin-bottom: 50px;
    }

    .items-lista {
        display: flex;
        margin-top: -40px;
        position: relative;
        right: 80px;
        flex-direction: column;
        gap: 10px;
    }

    .items {
        display: flex;
        gap: 10px;
        color: var(--text-color-gray);
    }

    .icon-card {
        color: #f7a40f;
    }
</style>
