---
import SectionImagen from "./sectionImagen.astro";
import "/src/assets/styles/global.css"

---

<section class="rooms container">
    <h1 class="title">
        UNA CASONA COLONIAL <br> EN EL CENTRO HISTORICO DE CUSCO
    </h1>
    <SectionImagen />
</section>

<style>
    .rooms {
        text-align: center;
    }
    
    .rooms__desc {
        margin-bottom: 40px;
        color: #777;
    }
</style>
