---
import CardRooms from "./CardRooms.astro";
import "/src/assets/styles/global.css"
---

<section class="w-full flex flex-col justify-center items-center">
  <h2 class="title text-center text-4xl p-[1em] pt-[2em]">NUESTRAS HABITACIONES Y SUITES</h2>
  <p class="text-center text-gray-700">Selecciona tu alojamiento. Nosotros nos encargamos del resto.</p>

  <CardRooms />
</section>


