---

---

<div class="w-full flex justify-center max-md:flex-col gap-[35px] p-[2em] items-center ">
    <div class="p-[13px] bg-white shadow-black shadow-2xl ">
        <img
             class="w-[18em]"
            src="https://i0.wp.com/terraandinahotel.com/wp-content/uploads/elementor/thumbs/Bar-vert-rggmdkzv5enqp07xfesy0100zyn0mh5sxd9hipfksi.jpg?w=800&ssl=1"
            alt=""
        />
    </div>
    <div class="container-seccion-imagenes">
        <div class="p-[13px] bg-white shadow-black shadow-2xl">
            <img
                class="w-[30em]"
                src="https://i0.wp.com/terraandinahotel.com/wp-content/uploads/elementor/thumbs/repcion-tah-rggmlzo0jjvlkdvclzaaub5ok9d7bjv8x25ihcso50.jpg?w=800&ssl=1"
                alt=""
            />
        </div>

        <span class="span-imagen">Nuestro Hotel</span>
    </div>
</div>

<style>
    .span-imagen {
        color: #ddac1d;
        font-size: 64px;
        position: relative;
        top: 30px;
        font-family: var(--font-family-tercer);
        font-weight: lighter;
        font-style: normal;
    }
</style>
