---

---

<section class="section-img-casona-colonial container-web">
<br>
    <h2 class="title">La estancia perfecta, garantizada</h2>

    <p class="text-subtitle">Numerosos servicios para garantizar su relax y comodidad.</p>
</section>

<style>
    .text-subtitle{
        text-align: center;
        font-size: 18px;
        color: var(--text-color-gray)
    }
</style>

