---

---

<div class="container__detail--restaurante">
    <div>
        <p class="text__detail-experiences">
            Nuestro restaurante lo deleitará con una exquisita variedad de
            platos tradicionales, los cuales son considerados el Alimento
            Sagrado para los Incas. <br> Nuestras comidas se presentan en un menú
            especial diseñado por Le Cordon Blue Chefs. <br> Cada plato se prepara
            con productos frescos, verduras orgánicas e ingredientes autóctonos
            cuidadosamente seleccionados.
        </p>
    </div>
    <div>
        <img
            src="https://i0.wp.com/terraandinahotel.com/wp-content/uploads/elementor/thumbs/interra-menaje-rgjtvzxl0alphjas8ttc7nhojr80hoecmrjr6xom04.jpg?w=800&ssl=1"
            alt=""
        />
    </div>
</div>

<style>
    .container__detail--restaurante {
        display: flex;
        margin-top: 50px;
        align-items: center;
        gap:50px;
        justify-content: center;
    }
    .text__detail-experiences{
        color: var(--text-color-lista);
        padding: 30px;
        border-right: 1px solid #ccac31;
        border-bottom: 1px solid #ccac31;
        font-family: var(--font-family-poppins);
}
</style>
