---
---

<footer class="footer">

    <div>
        <img class="logo" src="https://i0.wp.com/terraandinahotel.com/wp-content/uploads/2025/12/Logo-TAH-COL.png?fit=95%2C95&ssl=1"  alt="logo" >
    </div>

    <div>
        <span>Contacto</span>
        <ul>
            <li>Calle Union 184, Cusco</li>
            <li>ventas@TerraAndinaHotel.com</li>
            <li>+51 987 945 817</li>
            <li>Hotel Contact</li>
            <li>51-84 772950</li>
            <li>51-84 249413</li>
        </ul>
    </div>

     <div>
        <span>Pages</span>
        <ul>
          
            <li>Hotel</li>
            <li>Habitaciones</li>
            <li>Restaurantes</li>
            <li>Masajes</li>
            <li>Galeria</li>
            <li>Contactos</li>
        </ul>
    </div>

     <div>
        <span>Payment Options</span>
        


        <span>Comparte tus Comentarios</span>
    </div>

</footer>

<style>
    .footer{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .logo{
        width: 120px;
    }

</style>