---
---

<footer class="footer">

    <div>
        <img class="logo" src="https://i0.wp.com/terraandinahotel.com/wp-content/uploads/2025/12/Logo-TAH-COL.png?fit=95%2C95&ssl=1"  alt="logo" >
    </div>

    <div>
        <span class="title-footer" >Contacto</span>
        <ul class="lista-elementos">
            <li><i class="icon bi bi-geo-alt-fill"></i>Calle Union 184, Cusco</li>
            <li><i class="icon bi bi-envelope-at"></i>ventas@TerraAndinaHotel.com</li>
            <li><i class="icon bi bi-telephone-fill"></i>+51 987 945 817</li>
            <li><i class="icon bi bi-telephone-fill"></i>51-84 772950</li>
            <li><i class="icon bi bi-telephone-fill"></i>51-84 249413</li>
        </ul>
    </div>

     <div>
        <span  class="title-footer" >Pages</span>
        <ul class="lista-elementos">
          
            <li><a class="items-nav" href="#"><i class="icon bi bi-link-45deg"></i>Hotel</a></li>
            <li><a class="items-nav" href="#"><i class="icon bi bi-link-45deg"></i>Habitaciones</a></li>
            <li><a class="items-nav" href="#"><i class="icon bi bi-link-45deg"></i>Restaurantes</a></li>
            <li><a class="items-nav" href="#"><i class="icon bi bi-link-45deg"></i>Masajes</a></li>
            <li><a class="items-nav" href="#"><i class="icon bi bi-link-45deg"></i>Galeria</a></li>
            <li><a class="items-nav" href="#"><i class="icon bi bi-link-45deg"></i>Contactos</a></li>
        </ul>
    </div>

     <div>
        <span  class="title-footer" >Payment Options</span>
        <span  class="title-footer" >Comparte tus Comentarios</span>
    </div>

</footer>

<style>
    .footer{
        display: flex;
        justify-content: center;
        align-items: center;
        border-top: 1px solid gray;
        background-color: #1d1d27;
        height: 400px;

    }


    .icon-footer{
        color: var(--primary-color);
    }
    .icon{
        color: var(--border-color);
    }

    .title-footer{
        padding: 0 20px 2px 20px;
        font-weight: 500;
        font-family: var(--font-family-primary);
        font-size: 21px;
        color: var(--text-color-gray);
        border-bottom: 1px solid var(--border-color);
    }

    .logo{
        width: 150px;
    }

    .lista-elementos{
        text-decoration: none;
        list-style: none;
        display: flex;
        flex-direction: column;
        gap: 10px;

        color: var(--text-color-primary);
        font-size: 14px;
    }
    .lista-elementos li{
        display: flex;
        gap:10px;
    
    }
    .bi-link-45deg{
        cursor: pointer;
    }

</style>