---

const { pathname } = Astro.url;

const isEnglish = pathname.startsWith('/en');

let targetUrl;

if (isEnglish) {
  targetUrl = pathname.replace('/en', '') || '/';
} else {
  targetUrl = pathname === '/' ? '/en' : `/en${pathname}`;
}
---
<div class="header-top max-md:hidden justify-center items-center">
  <div class="flex p-[10px] items-center gap-[30px] justify-end w-[90%] max-sm:w-[90%]">

    <a href="mailto:sales@terraandinahotel.com" target="_blank" class="header-top__contact">
      <i class="bi bi-envelope"></i>
      sales@terraandinahotel.com
    </a>
    <a href="https://wa.link/i96xrh" target="_blank" class="text-white hover:text-green-300 flex gap-[8px]">
      <i class="bi bi-whatsapp"></i>+51 987 945 817
    </a>

<div class="lang-switch">
  {isEnglish ? (
    <a href={targetUrl} class="btn-lang">
        <img id="bd-es" class="w-[20px] hover:scale-110 transition-transform" src="https://images.emojiterra.com/twitter/v13.1/512px/1f1ea-1f1f8.png" alt="Español">
    </a>
  ) : (
    <a href={targetUrl} class="btn-lang">
        <img id="bd-en" class="w-[20px] hover:scale-110 transition-transform" src="https://images.emojiterra.com/twitter/512px/1f1fa-1f1f8.png" alt="English">
    </a>
  )}
</div>
  </div>
</div>



<style>
  .header-top {
    background: var(--primary-color);
  }
  .header-top__contact {
    position: relative;
    color: white;
    text-decoration: none;
    display: flex;
    gap: 10px;
  }
</style>
