---
import SectionImagen from "../components/sectionImagen.astro";

---

<section class="rooms container">
    <h2 class="title">
        Una casona Colonial <br> En El Centro Histórico de Cusco
    </h2>
    <SectionImagen />
</section>

<style>
    .rooms {
        text-align: center;
    }
    
    .rooms__desc {
        margin-bottom: 40px;
        color: #777;
    }
</style>
