---
    import "../assets/styles/global.css"
---

<section class="container container__masaje">
    <h1 class="masaje_title ">MANOS CURATIVAS</h1>

    <p class="text-parrafo">
        ¡Tu cuerpo se merece un capricho! <br>  Aprovecha nuestro servicio de masajes
        en el hotel. <br><br> El masaje, como complemento de la medicina, se practica
        desde hace aproximadamente entre 4000 y 5000 años.  <br> <br> La gran altitud de
        Cusco te exigirá más energía para respirar, caminar y disfrutar de las
        visitas turísticas. <br> Después de todos los beneficios de este masaje
        altamente energizante, tus músculos recuperarán toda su energía y
        equilibrio, y te sentirás <br> como nuevo.
    </p>
</section>

<style>
    .container__masaje{
        text-align: center;
        font-family: var(--font-family-poppins);
        color: var(--text-color-lista);
        display: flex;
        justify-content: center;
        align-items: center;
        gap:30px;
        flex-direction: column;
        flex-wrap: wrap;
    }
    .masaje_title{
        font-size: 30px;
        border-bottom: 1px solid var(--secondary-color);
    }
    .text-parrafo{
        text-align: center;
    }
</style>