---
import Prueba from "./card.astro"; // tu componente de cards
---

<section class="rooms container">
  <h2 class="rooms__title">Nuestras habitaciones y suites</h2>
  <p class="rooms__desc">Selecciona tu alojamiento. Nosotros nos encargamos del resto.</p>

  <Prueba />
</section>

<style>
.rooms {
  text-align: center;
}
.rooms__title {
  font-size: 32px;
}
.rooms__desc {
  margin-bottom: 40px;
  color: #777;
}
</style>
s