---
import Prueba from "./card.astro";
import "../assets/styles/global.css"
---

<section class="rooms container">
  <h2 class="title rooms__title">NUESTRAS HABITACIONES Y SUITES</h2>
  <p class="rooms__desc">Selecciona tu alojamiento. Nosotros nos encargamos del resto.</p>

  <Prueba />
</section>

<style>
.rooms {
  margin-top: 150px;
  text-align: center;
}
.rooms__title{
  font-size: 32px;
}

.rooms__desc {
  margin-bottom: 40px;
  color: #777;
  font-size: 20px;
}
</style>
