---

---

<div class="position-style container-imagen-feature">
    <div class="container-styleImagen">
        <img
            class="imagen-Inicio"
            src="https://i0.wp.com/terraandinahotel.com/wp-content/uploads/elementor/thumbs/Bar-vert-rggmdkzv5enqp07xfesy0100zyn0mh5sxd9hipfksi.jpg?w=800&ssl=1"
            alt=""
        />
    </div>
    <div class="container-seccion-imagenes">
        <div class="container-styleImagen">
            <img
                class="imagen-Inicio2"
                src="https://i0.wp.com/terraandinahotel.com/wp-content/uploads/elementor/thumbs/repcion-tah-rggmlzo0jjvlkdvclzaaub5ok9d7bjv8x25ihcso50.jpg?w=800&ssl=1"
                alt=""
            />
        </div>

        <span class="span-imagen">OUR HOTEL</span>
    </div>
</div>

<style>
    .imagen-Inicio {
        width: 18.5em;
    }
    .imagen-Inicio2 {
        width: 33em;
    }

   
    .container-imagen-feature {
        gap: 30px;
        align-items: start;
    }

    .span-imagen {
        color: #ddac1d;
        font-size: 40px;
        font-family: var(--font-family-tercer);
        position: relative;
        top: 50px;
        font-weight: 600;
    }
</style>
