---
---

<section class="w-full flex flex-col justify-center items-center relative top-[60px]">
    <div class="flex flex-col justify-center items-center">
    <h1 class="text-[35px] text-center font-black text-gray-700">Healing Hands</h1>
    <span class="w-[50%] bg-[#C28E26] h-[2px] "></span>
</div>
    <p class="text-spacio text-center p-[20px] text-gray-600 mt-6 text-[17.4px]">
        Your body deseres a treat!
        Take advantage of our in-hotel massage<br> Massage, as a complement to medicine, has been around for approximately 4,000 to 5,000 years.
        <br><br>The high altitude of Cusco will demand from you more energy to breath, to walk and enjoy touring. After all the goodness of the highly <br> energizing massage your muscles will regain all its energy and balance and you will feel yourself again.
    </p>
</section>

<style>
    .text-spacio{
        margin-top: 30px;
    }
</style>