---
import SVG_SPAN from "../../../utils/svg-spa.astro";
import { Image } from "astro:assets";
import spa from "../../../assets/images/spa1.webp"
---


<section class="container_masages flex flex-col justify-center items-center mx-auto my-20 px-5 w-full">
    <h2 class="title_pasos text-center text-4xl font-semibold text-gray-700 pt-[20px] pb-[50px]">
        One Hour Massage
    </h2>

    <div class="w-[65%] max-lg:w-full">
    <div class="flex justify-center  items-center max-md:flex-col gap-[35px] ">
        <div class="flex flex-col  w-[30%] max-md:w-[80%] gap-[80px]">
            <div class="flex flex-col items-center justify-center gap-[20px]">
                <SVG_SPAN />
                <div class="text-center flex flex-col gap-[20px]">
                    <h3 class="title_pasos text-[23px] font-bold text-gray-700  hover:text-[#886B19] ">
                       Restoring Swedish <br /> Massage
                    </h3>
                    <p class="texto__parrafo text-gray-900 text-[18px]">
                        Enjoy the most well know massage that helps with increasing the flow of oxygen in blood, imporving circulation.
                    </p>
                </div>
            </div>
            <div class="flex flex-col items-center justify-center gap-[20px]">
                <SVG_SPAN />
                <div class="text-center flex flex-col gap-[20px]">
                    <h3 class="title_pasos text-[23px] font-bold text-gray-700 hover:text-[#886B19] ">
                        Relaxation and Aromatherapy Massage
                    </h3>
                    <p class="texto__parrafo text-gray-900 text-[18px]">
                        Select a blend that appeals to bodym spirit, mind and an emerging sense of calm.
                    </p>
                </div>
            </div>
        </div>
        <div class="flex  flex wrap  flex-col w-[30%] max-md:w-[80%] gap-[80px]">
            <div class="flex flex-col items-center justify-center gap-[20px]">
               
               <Image class="relative top-[50px] w-[270px]" src={spa} alt="logo-spa" />
              
            </div>
            <div class="flex flex-col items-center justify-center gap-[20px]">
                <SVG_SPAN />
                <div class="text-center flex flex-col gap-[20px]">
                    <h3 class="title_pasos text-[23px] font-bold text-gray-700 hover:text-[#886B19]">
                        Reflexology
                    </h3>
                    <p class="texto__parrafo text-gray-900 text-[18px]">
                        This is a non.invasive therapy. Restore your body energy through the application of pressure to the reflex points on the sole of your feet.
                    </p>
                </div>
            </div>
        </div>

        <div class="flex flex-col flex wrap w-[30%] max-md:w-[80%] gap-[80px]">
            <div class="flex flex-col items-center justify-center gap-[20px]">
                <SVG_SPAN />
                <div class="text-center flex flex-col gap-[20px]">
                    <h3 class="title_pasos text-[23px] font-bold text-gray-700 hover:text-[#886B19]">
                       Shiatsu Fron the Japanese "Shi" finger and "atsu" pressure.
                    </h3>
                    <p class="texto__parrafo text-gray-900 text-[18px]">
                        Shiatsu massage helps remove the blockages by realigning meridian ponits. The nervouds and inmmnune systems are both stimulated.
                    </p>
                </div>
            </div>
            <div class="flex flex-col items-center justify-center gap-[20px]">
                <SVG_SPAN />
                <div class="text-center flex flex-col gap-[20px]">
                    <h3 class="title_pasos text-[23px] font-bold text-gray-700 hover:text-[#886B19]">
                        Therapeutic and Sports Massage
                    </h3>
                    <p class="texto__parrafo text-gray-900 text-[18px]">
                        An exclusive massage technique will improve blood circulation, relieve soreness, stiffness and encouragerelaxtion after a long day of touring or hiking.
                    </p>
                </div>
            </div>
        </div>
    </div></div>
</section>

<style>
    .texto__parrafo {
        font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
        font-weight: 300;
    }

    .title_pasos{
        font-family: var(--font-family-poppins);

    }
    .container_masages {
        margin-top: 100px;
        animation: animations 2s ;
        transform: matrix3d();
    }

    @keyframes animations {
        0% {
            transform: translateY(80px);
        }
       
        100% {
            transform: translateY(0);
        }
        
    }

    
</style>
