---
import "/src/assets/styles/global.css"
import ExperienceDetail from "./ExperienceDetail.astro"
---

<section class="container container_gastronomic">
    <h2 class="title title--feature">Nos enfocamos en hacer que su experiencia gastronomica sea extraordinaria!</h2>
    <ExperienceDetail />
</section>

<style>
    .container_gastronomic{
        margin-top: 6ch;
    }
    .title--feature{
        font-size: 26px;
        font-weight: 300;
        color:#CEAD2F;
    }


</style>