---

---

<section class="contacto-section">
    <div class="container-form">
        <form class="form-contacto">
            <input name="Nombre" placeholder="Nombre" type="text" required />
            <input
                name="Apellido"
                placeholder="Apellido"
                type="text"
                required
            />
            <input
                name="Telefono"
                placeholder="Número Telefónico"
                type="text"
            />
            <input name="Email" placeholder="Email" type="email" required />
            <textarea name="Mensaje" placeholder="Mensaje"></textarea>
            <button type="submit">Enviar</button>
        </form>
    </div>

    <div class="container-info">
        <ul class="lista-contacto">
            <li>
                <i class="bi bi-geo-alt-fill"></i>Calle Union 184, Cusco, Perú
            </li>
            <li>
                <i class="bi bi-telephone-fill"></i>Reservaciones: +51 987 945
                817
            </li>
            <li><i class="bi bi-telephone-fill"></i>Recepción: +51 997 564</li>
            <li class="contacto-titulo">Contacto Hotel:</li>
            <li><i class="bi bi-telephone-fill"></i>(51 - 84) 887-72950</li>
            <li><i class="bi bi-envelope"></i>reservas@TerraAndinaHotel.com</li>
        </ul>

        <div class="mapouter">
            <div class="gmap_canvas">
                <iframe
                    title="Mapa de ubicación Terra Andina Hotel"
                    class="mapa-iframe"
                    id="gmap_canvas"
                    src="https://maps.google.com/maps?q=Calle%20Union%20184%20Cusco&t=&z=13&ie=UTF8&iwloc=&output=embed"
                    loading="lazy"
                >
                </iframe>
            </div>
        </div>
    </div>
</section>



<style>
    .contacto-section {
        padding: 25px;
        display: flex;
        gap: 70px;
        padding-top: 45px;
    }

    .container-form,
    .container-info {
        width: 50%;
    }

    .container-form {
        display: flex;
        justify-content: flex-end;
    }

    .form-contacto {
        width: 420px;
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .form-contacto input,
    .form-contacto textarea {
        border: 1px solid #9ca3af;
        padding: 9px;
        border-radius: 7px;
        outline: none;
    }

    .form-contacto button {
        width: 100%;
        background-color: #cec061;
        padding: 10px;
        border-radius: 8px;
        color: white;
        font-weight: 900;
        border: none;
        cursor: pointer;
    }

    /* Información de Contacto */
    .container-info {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        gap: 30px;
    }

    .lista-contacto {
        display: flex;
        flex-direction: column;
        gap: 10px;
        justify-content: center;
        align-items: flex-start;
        color: #374151;
        list-style: none;
        padding: 0;
    }

    .lista-contacto li {
        display: flex;
        align-items: center;
        gap: 10px;
    }

    .lista-contacto i {
        color: #c08e1f;
    }

    .contacto-titulo {
        font-size: 16.5px;
        padding: 8px;
    }

    /* Mapa */
    .gmap_canvas {
        width: 100%;
    }

    .mapa-iframe {
        width: 80%;
        height: 355px;
        border: none;
    }

    /* Responsive */
    @media (max-width: 1024px) {
        .container-info {
            width: 100%;
        }
    }

    @media (max-width: 768px) {
        .contacto-section {
            flex-direction: column;
        }
        .container-form,
        .container-info {
            width: 100%;
        }
        .form-contacto {
            width: 100%;
        }
        .mapa-iframe {
            width: 100%;
        }
    }
</style>
