---
import CardRooms from "./CardRooms.astro";
---

<section class="w-full flex flex-col justify-center items-center">
  <h2 class="title text-center text-4xl  pt-[2em]">OUR ROOMS & SUITE</h2>
  <h3 class="text-center text-[21px] text-gray-700">Select your Accommodation. We’ll take care of the rest.</h3>

  <CardRooms />
</section>


