---
import "../assets/styles/global.css";
import "../styles/global.css"
import Links from "../utils/links.astro";
const { title } = Astro.props;
import Nav from "../components/Nav.astro";
import HeaderTop from "../components/HeaderTop.astro";
import Footer from "../components/Footer.astro";
---

<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>{title} -  Terra Andina Colonial Mansion</title>
    <Links />
  </head>
  <body>
    <HeaderTop />
    <Nav />
    <slot />

    <Footer />
  </body>
</html>
