---
import "../styles/global.css";
import Links from "../utils/links.astro";
import Nav from "../components/Nav.astro";
import HeaderTop from "../components/HeaderTop.astro";
import Footer from "../components/Footer.astro";


const { title, description } = Astro.props;

const defaultDesc = "Hotel Boutique en una casona colonial en el centro de Cusco. Vive la magia de los Andes.";
const currentDesc = description || defaultDesc;
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta property="og:image" content="https://media-cdn.tripadvisor.com/media/photo-s/09/7d/fa/27/terra-andina-hotel.jpg"/>
    <meta property="og:image:type" content="image/jpg" />
    <meta property="og:image:width" content="1200" />
    <meta property="og:image:height" content="630" />
    
    <title>{title} - Terra Andina Colonial Mansion</title>
    <meta name="description" content={currentDesc} />
    <Links />
  </head>
  <body>
    <HeaderTop />
    <Nav />
    <slot />

    <Footer />
  </body>
</html>
